.square-img{
    height: 240px;
    width: 240px;
    object-fit: cover;
}
.logo{
    font-family: 'Noto Serif JP', serif;

}
.square-img-s{
     height: 100px;
     width: 100px;
     object-fit: cover; 
     /* coverは溢れる所を削る */
 }
 .menu_images{
     max-width: 600px;
     overflow-x: auto;
     white-space: nowrap;
     padding: 0;
 }
 .item {
     display: inline-block;
     margin: 16px 8px 0px 0px;
     /* 時計回り 上・右…  渡す数による*/
 }